body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #000; /* Чорний колір фону */
}


/* Анімація зайця */
.rabbit-container {
    position: fixed;
    bottom: 70%;
    width: 120px;
    height: 120px;
    z-index: 3; /* Поставте більше значення z-index, щоб зайчик був поверх інших елементів */
    animation: runAcross 10s linear infinite;
}

@keyframes runAcross {
    0% {
        right: -120px; /* Початок за лівим краєм екрану */
    }
    50% {
        transform: scaleX(1); /* Повернення в нормальний напрямок */
    }
    100% {
        right: 100vw; /* Закінчується за правим краєм екрану */
    }
}

#runningRabbit {
    width: 100%; /* Ширина зайця дорівнює ширині контейнера */
    height: auto;
}

.matrix-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1; /* Зробити матрицю нижчою, ніж зайць і контент форми */
}

.symbol {
    position: absolute;
    color: lime;
    font-size: 16px;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10%);
        color: black;
    }
    100% {
        transform: translateY(100vh);
        color: lime;
    }
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3; /* Контент має найвищий пріоритет */
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        color: #000;
    }
    100% {
        color: #fff;
    }
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.input-group input:focus {
    outline: none;
}

.button-group button {
    padding: 10px 20px;
    border: 2px solid lime;
    border-radius: 5px;
    background-color: transparent;
    color: lime;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-group button:hover {
    background-color: lime;
    color: #000;
}
