<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginPage.css">
</head>
<body>
<div class="matrix-container">
    <div class="symbol">0</div>
    <div class="symbol">1</div>
</div>
<div class="login-container">
    <h2>Follow the white rabbit</h2>
    <form id="loginForm" action="/authenticate" method="post">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="button-group">
            <button type="submit">Login</button>
            <button type="button" onclick="window.location.href='/register'">Register</button>
        </div>
        <div th:if="${param.error != null}" class="error-message">Incorrect username or password. Please try again.</div>
    </form>
</div>
<script src="/js/matrixAnimation.js"></script>
<script>


    /*
    * document.getElementById("loginForm").addEventListener("submit", async (event) => {
    event.preventDefault();

    const form = document.getElementById("loginForm");

    try {
        // Виконання POST запиту для аутентифікації
        const response = await fetch("/authenticate", {
            method: "POST",
            body: new FormData(form),
        });

        if (response.ok) {
            // Якщо аутентифікація успішна, перенаправити на захищену сторінку
            window.location.href = "/sort";
        } else {
            // Помилка аутентифікації
            console.error("Authentication failed");
        }
    } catch (error) {
        console.error("Error:", error);
    }
});*/

    document.getElementById("loginForm").addEventListener("submit", async (event) => {
        event.preventDefault();

        const form = document.getElementById("loginForm");

        try {
            // Виконання POST запиту для аутентифікації
            const response = await fetch("/authenticate", {
                method: "POST",
                body: new FormData(form),
            });

            if (response.ok) {
                // Якщо аутентифікація успішна, перенаправити на захищену сторінку
                window.location.href = "/sort";
            } else {
                // Помилка аутентифікації
                console.error("Authentication failed");
            }
        } catch (error) {
            console.error("Error:", error);
        }
    });
</script>
</body>
</html>