<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginPage.css">
    <link rel="stylesheet" href="rabbitAnimation.css"> <!-- Додаємо стилі для зайця -->
</head>
<body>
<div class="matrix-container">
    <div class="symbol">0</div>
    <div class="symbol">1</div>
</div>

<!-- Анімація зайця -->
<div class="rabbit-container">
    <img id="runningRabbit" src="https://media.tenor.com/c31tSv9pXkcAAAAi/go-out-outdoor-activities.gif" alt="Running Rabbit">
</div>

<div class="login-container">
    <h2>Follow the white rabbit</h2>
    <form id="loginForm">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="button-group">
            <button type="button" id="loginButton">Login</button>
            <button type="button" onclick="window.location.href='/register'">Register</button>
        </div>
        <div th:if="${param.error != null}" class="error-message">
            Incorrect username or password. Please try again.
        </div>
    </form>
</div>
<script src="/js/matrixAnimation.js"></script>
<script src="/js/loginHandler.js"></script> <!-- Додаємо окремий скрипт для обробки логіну -->
</body>
</html>